body {
    height: 9000px;
}

h2 {
    opacity: 1;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
}

.first_text {
    text-align: center;
    font-size: 30px;
    transform: translateY(200px);
}

.move_yazirusi span {
    position: absolute;
    top: 330px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.move_yazirusi span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.move_yazirusi span:nth-of-type(2) {
    top: 350px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.move_yazirusi span:nth-of-type(3) {
    top: 370px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.step1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.preparation {
    font-size: 15px;
    text-align: center;
    margin: 30px 0px
}

.preparation_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.preparation_list_item {
    width: 30%;
    text-align: center;
    margin: 30px 0px;
}

.tomato {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tomato_inner {
    position: relative;
    margin-top: 360px;
}

.do img {
    width: 100%;
    height: auto;
    display: block;
}

.step2 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 160px);
}

.step2_out_title {
    position: relative;
    width: 350px;

}

.step2_title {
    position: absolute;
    top: -300px;
    left: -70px;
    right: 0;
}

.step3 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 172px);
}

.step3_out_title {
    position: relative;
    width: 350px;
}

.step3_title {
    position: absolute;
    top: -177px;
    left: -30px;
    right: 0;
}

.step4 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 170px);
}

.step4_out_title {
    position: relative;
    width: 350px;
}

.step4_title {
    position: absolute;
    top: -104px;
    left: -30px;
    right: 0;
}

.another_item {
    position: relative;
}

.sityuu {
    position: absolute;
    bottom: 100%;
    left: 55%;

}

.shirushi {
    position: absolute;
    top: -160px;
    left: 18%;
    z-index: 10;
}

.cut {
    position: absolute;
    bottom: 295px;
    left: 26%;
    z-index: 10;
}

.step5 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 170px);
}

.step5_out_title {
    position: relative;
    width: 350px;
}

.step5_title {
    position: absolute;
    top: -95px;
    left: -23px;
    right: 0;
}

.step6 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 170px);
}

.step6_out_title {
    position: relative;
    height: 600px;
    width: 350px;
}

.step6_title {
    position: absolute;
    top: 130px;
    left: -30px;
    right: 0;
}

.step7 {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 170px);
}

.step7_out_title {
    position: relative;
    height: 600px;
    width: 350px;
}

.step7_title {
    position: absolute;
    top: 130px;
    left: -17px;
    right: 0;
}

.space1 {
    position: absolute;
    bottom: calc(179px);
    left: calc(111px);
    opacity: 1;
}

.space2 {
    position: absolute;
    bottom: calc(182px);
    left: calc(77px);
    opacity: 1;
}

.space3 {
    position: absolute;
    bottom: calc(179px);
    left: calc(44px);
    opacity: 1;
}

.space4 {
    position: absolute;
    bottom: calc(277px);
    left: calc(122px);
    opacity: 1;
}

.space5 {
    position: absolute;
    bottom: calc(280px);
    left: calc(89px);
    opacity: 1;
}

.space6 {
    position: absolute;
    bottom: calc(276px);
    left: calc(55px);
    opacity: 1;
}

.space7 {
    position: absolute;
    bottom: calc(214px);
    left: calc(186px);
    opacity: 1;
}

.space8 {
    position: absolute;
    bottom: calc(232px);
    left: calc(218px);
    opacity: 1;
}

.space9 {
    position: absolute;
    bottom: calc(238px);
    left: calc(253px);
    opacity: 1;
}
